<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/993b9e4d-d661-480b-9f6b-b1b4ec0751f0/dbmaibo-d71ce1d2-bbc3-493f-82ad-c3220740acc5.png/v1/fill/w_1112,h_719,strp/spyro_week___day_1_and_day_2_by_icelectricspyro_dbmaibo-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTUwIiwicGF0aCI6IlwvZlwvOTkzYjllNGQtZDY2MS00ODBiLTlmNmItYjFiNGVjMDc1MWYwXC9kYm1haWJvLWQ3MWNlMWQyLWJiYzMtNDkzZi04MmFkLWMzMjIwNzQwYWNjNS5wbmciLCJ3aWR0aCI6Ijw9MTQ3MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.DzOaPy44Gv0UcBhd_TZMXr5i2N4a_FnhP8W1NQ7y5QU" alt="">
<div class= 'headers'><h1>Envie de voyager !</h1>
<h2>Trouver et réserver votre Dragon sur Air dragon</h2>
</div>
<form action="" class="search-bar">
	<input type="search" name="search" pattern=".*\S.*" required>
	<button class="search-btn" type="submit">
		<span>Search</span>
	</button>
</form>
