.supertitle {
  font-size: bold;
  display: inline-block;
  margin-left: 400px;
  color: white;
  text-shadow: #ad8622 1px 0 10px;
}

.special {
  width: 520px;
  height: 320px;
  margin: 0 auto;
  margin-top: 100px;
  border: solid 2px #ad8622;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: #ad8622 1px 0 10px;
  box-shadow: 0 0 15px #bb9127;
}
