.navbar-lewagon {
  justify-content: space-between;
  background: rgba(13, 8, 8, 0.5);
  height: 10%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  opacity: 1;
}

.navbar-lewagon .navbar-brand .logonavbar {
  width: 40px;
  opacity: 1;
}
