.navbar-lewagon {
  position: absolute;
  justify-content: space-between;
  background: rgba(13, 8, 8, 0.2);
  height: 10%;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  opacity: 1;
}

.navbar-lewagon .navbar-brand #logonavbar {
  width: 40px;
  opacity: 1;
}
