

#container {
  // background-color: #bb27a7;
  ;
  text-align: left;

  div#pic-profil > img {
    border: solid 2px gold;
    border-radius: 15%;
    // margin-left: 9%;
    // margin-right: 8%;
    // width: 900px;
    // height: 900px;
    object-fit: cover;
    max-height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.name > h3 {
    margin-left: 5%;
  }

  div.name > h4 {
    text-align: right;
    margin-right: 10%;
  }

  div.name > p {
    margin-left: 5%;
  }
}

#mapbox {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  border: solid 2px #bb9127;
  border-radius: 3%;
  box-shadow: 0 0 20px #bb9127;
}
