// .card-trip {
//   overflow: hidden;
//   background: rgba(255, 255, 255, 0.2);
//   backdrop-filter: blur(30px);
//   box-shadow: 0 0 15px #bb9127;
//   margin: 10px;
//   border: solid 1px #ad8622;
//   border-radius: 20px;
//   margin-right: 30px;
//   margin-bottom: 25px;
//   transition: 0.6s;
// }

#container{
  background-color: #bb27a7;
  border: solid 2px green;
  text-align: left;
  

  div#pic-profil > img {
    border: solid 2px gold;
    // padding-right: 10%;
    // padding-left: 10%;
    border-radius: 15%;
    margin-left: 8%;
    margin-right: 8%;
    // width: 900px;
    // height: 900px;
    object-fit: contain;
    height: min-content 60%;

}
}

#mapbox {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  border: solid 2px #bb9127;
  border-radius: 3%;
  box-shadow: 0 0 20px #bb9127;
}
